td {
  border-style: solid;
  border-color: black;
}
.grid-container {
	display: grid;
  grid-auto-flow: column;
	grid-template-rows:repeat(11, 60px);
  grid-template-columns:repeat(8,60px);
}

.grid-item {
	position: relative;
	cursor: pointer;
}

/* わかりやすいように色分け */
.grid-item:nth-child(2n) {
	background-color: #d3d3d3;
}
.grid-item:nth-child(2n+1) {
	background-color: #f5f5f5;
}

.palette {
  display: grid;
  grid-template-rows:repeat(2,60px);
  grid-template-columns:repeat(6,60px);
}

.palette-item input {
  position: absolute;
  border: 5px solid transparent;
  box-sizing: border-box;
  border-color: red;
}

.palette-item.selected input{
  border-color: red;
}
